fastapi
uvicorn[standard]
pydantic
requests
openai
python-dotenv
psycopg2-binary
SQLAlchemy
groq
regex
tenacity
tqdm
langchain
dataclasses
aiohttp
asyncio
typing-extensions
pydantic-settings
markdown
markdown-it-py
mdurl
sseclient-py
python-jose[cryptography]
passlib[bcrypt]